.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.5vw;
}
.navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar__item {
    background-color: transparent;
    border: 0;
    margin: 0vw 2vw;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 115%;
    cursor: pointer;
    transition: 0.3s;
}
.navbar__item:focus {
    outline: none;
}
.navbar__item:hover:not(.navbar__item--logo) {
    color: rgb(197, 159, 61);
}
.navbar__item--logo {
    font-weight: bold;
    font-size: 145%;
}
.navbar__item--contact {
    color: white;
    border: 1px solid transparent;
    padding: 0.75vw 1.5vw;
    background-color: rgb(197, 159, 61);
    transition: 0.5s;
}
.navbar__item--contact:hover {
    color: rgb(197, 159, 61);
    border: 1px solid rgb(197, 159, 61);
    background: transparent;
}