.features {
    display: flex;
    flex-direction: row;
    transform: translate(0%, -50%);
    margin: 0;
    padding: 0;
}
.features__card {
    position: relative;
    background-color: rgb(197, 159, 61);
    width: 25vw;
    height: auto;
    margin: 2.5vw;
    padding: 2.5vw 5vw;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 115%;
    text-align: center;
}

