.statistics {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1216544/pexels-photo-1216544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 35vh;
}
.statistics__overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 35vh;
    padding: 5vw 7.5vw;
}