.about {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50vw;
    margin: 5vw;
}
.about__text {
    font-family: 'Roboto', sans-serif;
    font-size: 240%;
    line-height: 3.5rem;
    color: rgb(26, 30, 40);
}

@media screen and (max-width: 576px) {
    .about__text {
        font-size: 150%;
    }
}
