.about {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50vw;
    padding: 12.5vw 0vw 15vw 0vw;

}
.about__text {
    font-size: 230%;
    line-height: 3.5rem;
    color: rgb(26, 30, 40);
    margin: 0;
}

