.form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.form__fieldset {
    display: flex;
    flex-direction: row; 
    margin: 0;
    padding: 0;
    border: none;
}
.form__input {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    font-size: 100%;
    border: 0;
    /* border-bottom: 1px solid rgb(150, 150, 150); */
    margin: 1vw;
    padding: 1em;
    width: 100%;
}
.form__input--textarea {
    resize: none;
}
.form__submit {
    color: rgb(26, 30, 40);
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    margin: 1vw;
    padding: 1vw 2vw;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.form__submit:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(26, 30, 40);
}
.form__title, .form__subtitle {
    color: rgb(150, 150, 150);
    font-weight: normal;
    margin: 0;
    margin: 1vw;
    font-size: 110%;
}
.form__subtitle {
    color:  rgb(255, 255, 255);
}