.form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.form__input {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 105%;
    border: 0;
    margin: 1em;
    padding: 1em;
    width: 50%;
}
.form__fieldset {
    display: flex;
    flex-direction: row; 
    border: 0;
    width: 50%;
    margin: 0;
    padding: 0;
}
.form__input--textarea {
    width: 100%;
}
.form__submit {
    color: white;
    border: 1px solid transparent;
    margin: 1vw;
    padding: 0.65vw 1.5vw;
    background-color: rgb(197, 159, 61);
    font-size: 115%;
}
.text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
}
@media screen and (max-width: 1200px) {
    .form__input {
        width: 100%;
        margin: 1vw 0vw;
    }
    .form__fieldset {
        width: 100%;
        flex-direction: column;
    }
    .text {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .about__text {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .about__text {
        font-size: 1.85rem;
    }
}

@media screen and (max-width: 992px) {
    .about__text {
        font-size: 2rem;
    }
}