.copyright {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    margin: 3vw 0vw 0vw 0vw;
    line-height: 1.5rem;
}