.header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/img/header_background.jpeg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
}
.header__overlay {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: rgba(26, 30, 40, 0.8);
}