.header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("https://images.pexels.com/photos/1216544/pexels-photo-1216544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
}
.header__overlay {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: rgba(26, 30, 40, 0.8);
}