.header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("https://images.pexels.com/photos/271667/pexels-photo-271667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 70vh;
}
.header__overlay {
    position: absolute;
    background-color: rgba(240, 240, 240, 0.9);
    width: 100vw;
    height: 70vh;
}