.renovations {
    display: flex;
    flex-direction: column;
    padding: 10vw 7.5vw 10vw 7.5vw;
    width: 100vw;
    background-color: rgb(245, 245, 245);
}
.renovations__title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgb(26, 30, 40);
    margin: 0;
}
.renovations__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.renovations__gallery--image img {
    margin-top: 3vw;
    width: 17.5vw;
    opacity: 0.8;
    transition: 0.5s;
    box-shadow: 1em 1em 0em rgb(197, 159, 61);
}
.renovations__gallery--image img:hover {
    cursor: pointer;
    box-shadow: none;
}
