.renovations {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5vw 7.5vw 10vw 7.5vw;
    width: 100vw;
    background-color: rgb(245, 245, 245);
}
.renovations__title {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.renovations__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.renovations__gallery--image img {
    padding-top: 2vw;
    width: 18vw;
    opacity: 0.75;
    transition: 0.5s;
}
.renovations__gallery--image img:hover {
    opacity: 1;
    cursor: pointer;
}
