.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 30, 40);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7.5vw 5vw;
    width: 100%;
}
.footer__content--form {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.footer__content--info {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}