.image {
    position: relative;
    background-image: url("../../../../assets/img/header_background.jpeg");
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 75%;
    margin: 0 auto;
}