body,
#root {
    overflow-x: hidden;
    margin: 0;
}
html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}
::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(197, 159, 61);
}
@media only screen and (max-width: 576px) {
    .navbar__item--logo {
        font-size: 115%
    }
    .about {
        width: 100vw;
        text-align: center;
        padding: 20vw 7.5vw;
    }
    .about__text {
        font-size: 115%;
        line-height: 2rem;
        font-weight: normal;
    }
    .header__title {
        font-size: 230%;
    }
    .navbar__item--contact {
        padding: 1.5vw 3vw;
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: 60vh;
    }
    .header__overlay {
        height: 60vh;
    }
    .navbar__item--logo {
        font-size: 130%;
    }
    .features {
        flex-direction: column;
        transform: none;
    }
    .features__card {
        margin: 0;
        margin-top: 7.5vw;
        width: 85vw;
        padding: 7.5vw 12.5vw;
        font-size: 105%;
    }
    .navbar__item--contact {
        padding: 2vw 4vw;
    }
}
@media screen and (max-width: 992px) {
    .navbar__item--logo {
        font-size: 130%;
    }
    .features__card {
        font-size: 105%;
    }
    .navbar__item:not(.navbar__item--logo):not(.navbar__item--contact) {
        display: none;
    }
    .footer__content {
        flex-direction: column;
    }
    .navbar {
        margin: 7.5vw 6vw 0vw 6vw;
    }
    /* .about {
        width: 75vw;
    }
    .about__text {
        font-size: 185%;
    } */
}
@media screen and (max-width: 1200px) {
    .renovations {
        padding: 15vw 0vw;
        text-align: center;
    }
    .renovations__title {
        text-align: center;
    }
    .renovations__gallery {
        flex-direction: column;
    }
    .renovations__gallery--image img {
        width: 75vw;
        margin: 5vw 0vw;
    }
    .navbar__item:not(.navbar__item--logo) {
        font-size: 110%;
    }
    .features__card {
        font-size: 110%;
    }
    /* .about {
        width: 65vw;
    }
    .about__text {
        font-size: 215%;
    } */
}